<div class="container">
  <form action="" (ngSubmit)="votar()">
    <div class="container w-50 p-3" id="idForm">
      <div class="row">
        <p class="fs-3 mt-2">Urna Eletrônica</p>
        <div class="form-group mb-3" id="idCampoRg">
          <label class="form-label me-3" for="idRg">RG:</label>
          <input class="form-control" type="number" id="idRg" autocomplete="off" name="nmRg" [(ngModel)]="rg">
        </div>
        <div class="form-group mb-3">
          <label class="form-label me-3" for="idCandidatos">Candidato:</label>
          <input class="form-control" list="candidatos" id="idCandidatos" autocomplete="off" name="nmCandidato"
            [(ngModel)]="candidato">
          <datalist id="candidatos">
          </datalist>
        </div>
        <div class="col">
          <button class="btn btn-secondary m-1" type="button" id="idBtnBranco" data-bs-toggle="modal"
            data-bs-target="#idModal" (click)="votar()">Branco</button>
          <button class="btn btn-danger m-1" type="reset" id="idBtnCorrige">Corrige</button>
          <button class="btn btn-success m-1" type="submit" id="idBtnConfirma" data-bs-toggle="modal"
            data-bs-target="#idModal">Confirma</button>
          <!-- Para fazer o onclick do botão fazemos <button type="button" (click)="funcao()">-->
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <div class="form-group mb-3" id="nomeCandidato">
            <label class="form-label me-3" for="idNomeCandidato">Candidato Escolhido:</label>
            <input class="form-control" type="text" name="nmNomeCandidato" id="idNomeCandidato">
          </div>
        </div>
        <div class="container-sm" id="fotoCandidato">
          <img id="imagemCandidato" class="mx-auto d-block img-fluid" src="" alt="foto do candidato" width="400" />
        </div>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" data-bs-backdrop="static" data-bs-keyboard="false" id="idModal" tabindex="-1"
      aria-labelledby="modal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Mensagem:</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"
              id="idFecharModal"></button>
          </div>
          <div class="modal-body" id="idBodyModal">
            Voto Computado
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
