<div class="row  mt-5" *ngIf="votos.length > 0; else listaVazia">
  <!-- Template ao ter votos -->
  <div class="mx-auto col-md-6 col-sm-11">
    <p class="fs-2 text-center">Votos</p>
    <table class="table table-danger table-striped table-hover">
      <thead>
        <tr>
          <th scope="col">RG</th>
          <th scope="col">Candidato</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let voto of votos">
          <td>{{voto?.rg}}</td>
          <td>{{voto?.candidato}}</td>
          <td>{{voto?.timestamp}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<ng-template #listaVazia>
  <!-- template padrão -->
  <!--<p>Não há votos ainda</p>-->
</ng-template>
