<!--<app-urna></app-urna>-->
<!--<app-votacao></app-votacao>-->

<router-outlet></router-outlet>

<!--
<app-urna (aoVotar)="votar($event)"></app-urna>
<app-votacao [votos]="votos"></app-votacao>

  Intercalar coisas na tela com as variáveis
    <p> RG: {{voto?.rg}} </p>
    <p> Candidato: {{voto?.candidato}} </p>
    <p> Timestamp: {{voto?.timestamp}} </p>
-->
